* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:visited, :link {
  color: unset;
  text-decoration: none;
}

:root {
  --primary-color: #415167;
  --accent-color: #C7A17A;
  --accent-light-color: #F9F5E8;
  --dark-grey-color: #151D28;
  --light-grey-color: #EDF0F5;
}

.section {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.header {
  height: 768px;
  display: flex;
}

.hero {
  width: 1076px;
  display: flex;
}

.hero__content {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  padding: 76px 0 0 137px;
}

.hero__title {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: var(--primary-color);
  text-transform: uppercase;
  position: absolute;
  left: 130px;
  bottom: 64px;
}

.title__phrase_highlight {
  background-color: var(--accent-color);
  display: inline-block;
  padding: 0 16px;
  color: #FFFFFF;
}

.hero__video {
  width: 690px;
  background-color: var(--dark-grey-color);
}

.hero__video-player {
  /* opacity: 0.8; */
}

.video {
  position: relative;
}

.video__button {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  inset: 50%;
  border: none;
  box-shadow: 0 4px 24px #4A4A4A80;
}

.video__button-triangle {
  height: 13.5px;
  width: 10.8px;
}

.header__menu {
  width: 328px;
  position: relative;
}

.cart__counter {
  background-color: var(--accent-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 21px;
  transform: translate(11px, -38px);
}

.side-menu {
  background-color: var(--primary-color);
  padding: 56px;
  display: flex;
  align-items: center;
}

.header__cart {
  position: absolute;
  top: 76px;
  right: 236px;
}

.side-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side-menu__link {
  font-weight: 300;
  color: var(--light-grey-color);
  text-transform: uppercase;
}

.side-menu__link:hover {
  font-weight: 700;
}

.features {
  height: 598px;
}

.coffee {
  height: 894px;
}

.giftset {
  height: 802px;
}

.combo {
  height: 906px;
}
